.skills {
  padding: 20px 124px;
}

.SkillHeading {
  font-size: 32px;
  color: black;
}

.style {
  width: 500px;
  height: 28px;
  background-color: #f8b7daa9;
  margin-top: -37px;
}

.diagramContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagram {
  margin-top: 95px;
}

.diagramExplanation {
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 154px;
}

.detail {
  width: 260px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  margin: 5px;
}

@media screen and (max-width: 1230px) {
  .diagram {
    width: 70%;
  }
}

@media screen and (max-width: 1190px) {
  .skills {
    padding: 20px 70px;
  }
}

@media screen and (max-width: 1050px) {
  .diagram {
    width: 600px;
  }
}

@media screen and (max-width: 930px) {
  .diagram {
    width: 500px;
  }

  .SkillHeading {
    font-size: 27px;
    color: black;
  }

  .style {
    width: 418px;
    height: 25px;
    margin-top: -33px;
  }
}

@media screen and (max-width: 930px) {
  .diagram {
    width: 400px;
  }

  .detail {
    width: 140px;
    font-size: 13px;
  }
}
@media screen and (max-width: 670px) {
  .SkillHeading {
    font-size: 20px;
  }

  .style {
    width: 310px;
    height: 20px;
    margin-top: -23px;
  }
}

@media screen and (max-width: 620px) {
  .skills {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 450px) {
  .skills {
    margin-top: 40px;
  }

  .diagram {
    width: 300px;
  }
}
