.cardCon {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 124px;
  padding-bottom: 20px;
}

.card {
  width: 325px;
  height: 134px;
  background-color: rgba(255, 255, 255, 0.555);
  display: flex;

  align-items: center;
  padding-left: 20px;
  border-radius: 3px;
}

.iconCon1 {
  width: 54px;
  height: 54px;
  background-color: #66026f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.iconCon2 {
  width: 54px;
  height: 54px;
  background-color: #026f54;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.iconCon3 {
  width: 54px;
  height: 54px;
  background-color: #ca6d00;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.detailCon {
  display: flex;
  flex-direction: column;
}

.icons {
  width: 32px;
  height: 35px;
  color: white;
}

.cardHeading {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 13px;
}

.cardDetail {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1250px) {
  .card {
    width: 282px;
    height: 101px;
  }
  .cardHeading {
    font-size: 16px;
  }

  .cardDetail {
    font-size: 16px;
  }
}

@media screen and (max-width: 1190px) {
  .cardCon {
    padding: 0 70px;
  }
  .card {
    width: 272px;
  }

  .cardHeading {
    font-size: 15px;
  }

  .cardDetail {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .card {
    width: 250px;
    margin-bottom: 20px;
  }
  .iconCon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  .icons {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 950px) {
  .cardCon {
    padding: 0 40px;
    flex-direction: column;
    margin-top: -60px;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .cardCon {
    margin-top: -80px;
  }
}

@media screen and (max-width: 860px) {
  .cardCon {
    padding: 0 80px;
  }
}

@media screen and (max-width: 620px) {
  .cardCon {
    padding: 0 40px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .cardCon {
    margin-top: -90px;
    margin: 0px;
    padding: 0 40px;
  }
  .card {
    margin-bottom: 10px;
    width: 100%;
    height: 81px;
    align-items: center;
    border-radius: 3px;
  }

  .cardHeading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
  }

  .cardDetail {
    font-size: 15px;
    font-weight: 600;
  }
}
