body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(255, 255, 255, 0.844);
  height: 75px;
  padding: 0 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 67px;
  height: 49px;
}

.nav {
  display: flex;
}

.list {
  z-index: 1;
  display: flex;
}

.listItem {
  font-size: 16px;
  font-weight: 800;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 65px;
  top: 12px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.menuIcon {
  padding: 10px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}

.crossIcon {
  padding: 10px;
  width: 30px;
  background-color: aliceblue;
  border-radius: 50px;
}

.links {
  text-decoration: none;
  color: black;
  padding: 3px;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  ul {
    margin: 0;
  }

  .btn {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
    width: 300px;
    z-index: 12;
  }

  .list {
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    padding: 0;
    width: 100%;
  }

  .listItem {
    padding: 20px;
    margin-right: 0px;
    border-top: 1px solid rgba(177, 175, 175, 0.685);
    width: 100%;
    text-align: center;
  }

  .links {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1190px) {
  .header {
    padding: 0 70px;
  }
}

@media screen and (max-width: 950px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    padding: 0 80px;
  }
}

@media screen and (max-width: 700px) {
  .illustration {
    width: 200px;
    height: 220px;
  }

  .about {
    padding: 0 80px;
  }

  .heading {
    font-size: 20px;
  }

  .paragraph {
    width: 307px;
    font-size: 17px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    padding: 0 30px;
  }

  .btn {
    right: 15px;
  }
}
