.educationContainer {
  padding: 20px 124px;
  margin-top: 100px;
}

.educationHeading {
  font-size: 32px;
  color: black;
}

.educationStyle {
  width: 208px;
  height: 26px;
  background-color: #f8b7daa9;
  margin-top: -37px;
  margin-bottom: 95px;
}

.educationContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.educationDetail {
  background: url("../../Image/penWithPole.png");
  width: 864px;
  height: 580px;
  display: flex;
  flex-direction: column;
}

.styling {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.educationInfoSchool {
  display: flex;
  flex-direction: column;
  width: 355px;
  line-height: 24px;
  margin-right: 49px;
}
.educationInfoCllg {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  padding-right: 445px;
  width: 355px;
}
.educationInfoUni {
  width: 355px;
  margin-right: 49px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.year {
  font-weight: 800;
  font-size: 18px;
}

.InstitueName {
  font-weight: 800;
  font-size: 16px;
}
