@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.App {
  width: 100%;
  z-index: -10;
}

.AboutSec {
  background: url("./Image/backgroundImg.png");
  height: 911px;
}
